input[type="file"] {
    display: none;
}

/* Style the custom button */
.custom-file-upload {
    display: inline-block;
    color: white;
    border: none;
    cursor: pointer;
    width: 15%;
}

@media (min-width: 640px) {
    #slide-track {
        display: flex;
        width: calc(250px * 18);
        animation: scroll 40s linear infinite;
    }
}


@media (max-width: 640px) {
    #slide-track {
        display: flex;
        width: calc(150px * 18);
        animation: scroll 40s linear infinite;
    }
}



@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

#calendar-icon::-webkit-calendar-picker-indicator {
    color: white;
}